<div class="card bg-info mb-3">
  <div class="row">

    <div class="col-lg-2">
      <img height="200" width="200" src="{{imagePath}}" />
      <form>
        <input type="file" size="60" class="form-control" (change)="onFileSelected($event)" name="uploadFile" id="uploadFile" />
        <button type="button" class="btn btn-primary" (click)="uploadProfile()">Upload</button>
      </form>
    </div>

    <div class="col-lg-6">
      <legend>
        <h3>Hello, {{displayName}}</h3>
      </legend>
      <h4>You are in {{currentGroupName}} Group</h4>
      <h4>You are in {{currentChannel.name}} Channel</h4>
    </div>

    <div class="col-lg-4"></div>

  </div>
</div>

<div id="chat_history" style="overflow-y: auto; height: 500px">
  <div *ngFor="let message of messages">
    <p class="text-right" *ngIf="displayName==message.username">
      {{message.message}}
    </p>
    <p class="text-left" *ngIf="displayName!=message.username">
      {{message.username}}: {{message.message}}
    </p>
  </div>
</div>


<input [(ngModel)]="message" type="text" placeholder="message" id="message" name="message" class="form-control">
<button (click)="sendMessage(message)" class="btn btn-primary">Send</button>
