<div class="card bg-info mb-3">
  <legend><h3>Hello, {{displayName}}</h3></legend>
  <h4>You are {{usertypestring}} user</h4>
  <h4>You are in {{currentGroup}} Group</h4>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-info mb-3 col-sm-8" style="max-width: 20rem;">
      <div class="card-header">Channels list in {{currentGroup}}</div>
      <div class="card-body">
        <tr *ngFor="let channel of channels">
          <td>
            {{channel.name}}
          </td>
          <td>
            <button  class="btn btn-xs btn-primary" (click)="show=!show; getUsersInChannel(channel)">{{show ? 'Hide' : 'Show'}}</button>
          </td>
          <td *ngIf="usertype==1">
            <button (click)="deleteChannel(channel); show=false" class="btn btn-xs btn-warning">Delete</button>
          </td>
        </tr>
      </div>
    </div>
    <div *ngIf="show==true && (usertype==1 || usertype==2)" class="card text-white bg-info mb-3 col-sm-8" style="max-width: 20rem;">
        <div class="card-header">Users in {{currentChannel.name}}  Channel</div>
        <div ng- class="card-body">
          <tr *ngFor="let u of usersInChannel">
            <td>
              {{u.name}}
            </td>
            <td *ngIf="usertype!=3">
              <button (click)="deleteUserFromChannel(u)" class="btn btn-xs btn-warning">Remove</button>
            </td>
          </tr>
            <button class="btn btn-secondary btn-lg btn-block text-truncate mt-auto" routerLink="/chatroom" class="btn btn-xs btn-primary">Go to Chatroom of {{currentChannel.name}}</button>
        </div>
      </div>
  </div>
</div>
<div class="container">
    <div  class="row">
        <div  class="card text-white bg-info mb-3 col-sm-8" style="max-width: 20rem;">
            <div *ngIf="usertype==1" class="form-group">
              <label for="groupname">Enter Channel Name to Add</label>
              <input [(ngModel)]="addchannelname"  type="text" placeholder="Channel Name" class="form-control">
              <!-- <input [(ngModel)]="groupadmin" type="text" placeholder="Group Admin" class="form-control"> -->
              <button type="submit" (click)="createChannel(addchannelname)" class="btn btn-primary">Add</button>
            </div>
        </div>
        <div *ngIf="show" class="card text-white bg-info mb-3 col-sm-8" style="max-width: 20rem;">
              <div *ngIf="usertype==1" class="form-group">
                <!-- <label for="groupname">Choose User Name to Add</label>
                <input [(ngModel)]="groupname"  type="text" placeholder="Group Name" class="form-control"> -->
                <label for="example1">Enter User name to Add</label>
                <input [(ngModel)]="addusertochannel"  type="text" placeholder="Channel Name" class="form-control">
                <button type="submit" (click)="addUserToChannel(addusertochannel)" class="btn btn-primary">Add</button>
              </div>
        </div>
    </div>
</div>